.cartSidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(14, 63, 126, 0),
      0 1px 1px -0.5px rgba(42, 51, 69, 0.3),
      0 3px 3px -1.5px rgba(42, 51, 69, 0.3),
      0 6px 6px -3px rgba(42, 51, 69, 0.3),
      0 12px 12px -6px rgba(14, 63, 126, 0.3),
      0 24px 24px -12px rgba(14, 63, 126, 0.3);
  z-index: 999;
  padding: 1rem;
  overflow-y: scroll;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.headerTitle {
  flex: 1;
  text-align: center;
}

.emptyState{
  margin-top: 10rem;
  text-align: center;
}

.closeBtn {
  background-color: none;
  color: green;
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
}

.closeBtn:hover {
  background-color: rgb(227, 227, 227);
}

.productContainer {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  border-bottom: 1px solid lightgray;
}

.imageContainer {
  display: flex;
  justify-content: center;
  width: 7rem;
}

.productInfo {
  flex: 1;
}

.productImage {
  max-height: 7rem;
  max-width: 100%;
  margin: 0 1rem;
  object-fit: contain;
}

.topRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.bottomRow {
  display: flex;
  gap: 0.5rem;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.removeBtn {
  background-color: rgb(239, 239, 239);
  color: green;
  border: none;
  border-radius: 0.25rem;
}

.removeBtn:hover {
  background-color: rgb(227, 227, 227);
}

.orderTotal {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: right;
  margin-top: 0.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.submitOrderBtn {
  height: 3rem;
  width: 10rem;
  padding: 0.5rem 1rem;
  border-radius: 50rem;
  background-color: green;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.submitOrderBtn:hover {
  background-color: rgb(6, 120, 6);
}

.submitOrderBtn:active {
  background-color: rgb(7, 101, 7);
}