.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid lightgray;
}

.navList {
  display: flex;
  align-items: center;
}

.activeLink {
  color: green;
  text-decoration: none;
  font-weight: 700;
}

.navLink {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.navLink:hover {
  color: green;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

li {
  margin-right: 2rem;
}

/* Cart button */

.bagIcon {
  height: 1.25rem;
  margin-right: 0.5rem;
}

.cartButton {
  height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.75rem;
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cartButton:hover {
  background-color: rgb(237, 237, 237);
}

.itemCount {
  font-size: 1rem;
  font-weight: bold;
}