.productImage {
  height: 10rem;
  width: 10rem;
  width: auto;
}

.card {
  width: 300px;
  padding: 1rem;
  border: 1px solid black;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: bold;
}