.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(14, 63, 126, 0.08),
              0 1px 1px -0.5px rgba(42, 51, 69, 0.04),
              0 3px 3px -1.5px rgba(42, 51, 69, 0.04),
              0 6px 6px -3px rgba(42, 51, 69, 0.04),
              0 12px 12px -6px rgba(14, 63, 126, 0.04),
              0 24px 24px -12px rgba(14, 63, 126, 0.04);
  overflow: hidden;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.productImage {
  height: 10rem;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.titleContainer {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3rem;
}

.title {
  margin: 0.5rem 0;
}

.price {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  margin-top: auto;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.addToCartBtn {
  height: 2.5rem;
  width: 9rem;
  padding: 0.5rem 1rem;
  border-radius: 50rem;
  background-color: green;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.addToCartBtn:hover {
  background-color: rgb(6, 120, 6);
}

.addToCartBtn:active {
  background-color: rgb(7, 101, 7);
}