.shopContainer {
  padding: 2rem;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.productWrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.emptyState {
  margin-top: 3rem;
  text-align: center;
}
